/* RESET */ 

* {
    margin: 0;
    padding: 0;
}

/*! full page container 1(contains all the following divs) */
.full-page-container-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header aka: nav bar container 2 */
header {
    background-color: lightslategray;
    min-width: 800px;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.search-box-2 {
    border: 3px solid black;
    min-width: 250px;
    min-height: 25px;
}
.login-button-2 {
    cursor: pointer;
    text-decoration: none;
    background-color: blue;
    color: white;
    width: 80px;
    min-height: 30px;
    padding: 3px;
    box-shadow: black 5px 5px 0px 0px;
}

/*! column container 3 (contains the two two columns - left & right) */
.column-container-3 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    min-width: 1000px;
    min-height: 650px;
}

/* left column container 4 (includes definition a & b windows)  */
.left-column-container-4 {
    min-height: 600px;
    min-width: 450px;
    margin-right: 25px;
}

/* definition a 5 (contains first definition entry of ninja) */
.definition-a-5 {
    display: flex;
    border: 2px;
    border: 3px solid black;
    background-color: white;
    margin: 15px;
    padding: 10px;

}
.left-frame-a-5 {
    margin-right: 15px;

}

/*? impacts Definition a & b */
.noun {
    font-style: italic;
}
/*? impacts Definition a & b */
.plural {
    display: flex;
}
.i-ninja-5 {
    font-style: italic;
}
.likes-button-13 {
    cursor: pointer;
    text-decoration: none;
    background-color: yellow;
    color: black;
    width: 80px;
    min-height: 30px;
    padding: 3px;
    box-shadow: black 5px 5px 0px 0px;
}
.right-frame-a-5 {
    display: flex;
    align-items: center;
    justify-content: center;

}
.right-definition-5 {
    margin-left: 30px;

}

/* definition b 6 (contains second definition entry of ninja) */
.definition-b-6 {
    display: flex;
    border: 2px;
    border: 3px solid black;
    background-color: white;
    margin: 15px;
    padding: 10px;

}
.left-frame-b-6 {
    margin-right: 15px;
}
.likes-button-37 {
    cursor: pointer;
    text-decoration: none;
    background-color: yellow;
    color: black;
    width: 80px;
    min-height: 30px;
    padding: 3px;
    box-shadow: black 5px 5px 0px 0px;
}

.i-ninja-6 {
    font-style: italic;
}

.right-frame-b-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-definition-6 {
margin-left: 30px;
}


/*! right column container 7 (contains right column of windows - including add definition window & button) */
.right-column-container-7 {
    justify-content: center;

}

/* add definition 8 (contains add definition window & add definition button) */
.add-definition-8 { 
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    padding: 10px;
margin: 15px;
    border: 3px solid black;

}
.add-def-button-8 {
    cursor: pointer;
    text-decoration: none;
    background-color: darkseagreen;
    color: black;
    width: 120px;
    min-height: 30px;
    padding: 3px;
    box-shadow: black 5px 5px 0px 0px;
}
















